body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Verdana, sans-serif;
    background-color: #FFFDF7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.home-page {
    background-color: #FFFDF7;
}

.btn {
    background-color: lightskyblue;
}

.home-page h1{
    font-family:Georgia, Times, serif;
    font-size:80px;
    color: cornflowerblue;
    text-transform:uppercase;
    font-weight:bold;
}

.home-page h3{
    font-size:20px;
    font-weight:bold;
}

.home-page p{
    margin-top:20px;
    font-size: 16px;
}

.home-page img {
    width: 500px;
}