@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Books and more<br />
    Tallinn, Harjumaa 12299<br />
    <abbr title="Phone">P:</abbr>
    5194-5839
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:Support@example.com">sales@booksandmore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@booksandmore.com</a>
</address>